{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body style="background-color: #c0ecfb;">

<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
  <ul class="navbar-nav" style="color: black;font-size: 30px">
      <li class="nav-item" style="width: 300px">
      <b>E-Bidding</b>
    </li>
          <li class="nav-item" style="margin-left: 300px;width: 300px">
      <b>{{ data.name }}</b>
    </li>
      <li class="nav-item" style="margin-left: 300px">
          <img src="{{ data.image.url }}" height="50" width="50">
    </li>
  </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #f3dbfb;text-align: center;text-decoration: none">
            <p style="margin-top: 30px"><a href="{% url 'home' %}">Home</a></p><br>
            <p><a href="{% url 'pending' %}">Pending Request</a></p><br>
            <p><a href="{% url 'approved' %}">Approved List</a></p><br>
            <p><a href="{% url 'decliend' %}">Decline List</a></p><br>
            <p style="padding-bottom: 230px"><a href="{% url 'logout' %}">Logout</a></p><br>

        </div>
        <div class="col-md-10">
            {% block body %}
            {% endblock%}
        </div>

    </div>
</div>

</body>
</html>
