{% extends 'user/seller.html' %}
{% load staticfiles %}
{% block view %}
    <div class="container" style="color: skyblue">

    <html>
    {% if dataa %}
    <table align="center"  class="table table-bordered table-hover">
    <thead>
        <tr class="bg-warning">
            <th>P_id</th>
            <th>P_name</th>
            <th>price</th>
            <th>Status</th>
            <th>img</th>
            <th>Biding</th>
        </tr>
    </thead>
        {% for x in dataa %}
            <tbody>
            <tr class="bg-info">
            <td>{{ x.p_id }}</td>
            <td>{{ x.p_name }}</td>
            <td>{{ x.bid_price }}</td>
            <td>{{ x.p_status }}</td>
            <td><img src="{{ x.img.url }}" height="60" width="60"></td>
            <td><a href="{% url 'biding' %}?x={{ x.p_id }}" class="btn btn-success" ><span>&check;</span></a> </td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
    </html>
    {% else %}
        <table align="center"  class="table table-bordered table-hover">
    <thead>
        <tr class="bg-warning">
            <th>P_id</th>
            <th>P_name</th>
            <th>price</th>
            <th>Status</th>
            <th>img</th>

        </tr>
    </thead>
        {% for x in dataa1 %}
            <tbody>
            <tr class="bg-info">
            <td>{{ x.p_id }}</td>
            <td>{{ x.p_name }}</td>
            <td>{{ x.bid_price }}</td>
            <td>{{ x.p_status }}</td>
            <td><img src="{{ x.img.url }}" height="60" width="60"></td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
    {% endif %}
    </div>
{% endblock %}